n8n/workflows/flow-whatsapp.json
{
  "id": "flow-whatsapp",
  "name": "Flow — WhatsApp versturen",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flow-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "flow-whatsapp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-web:3001/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contact: $json.params.contact, message: $json.params.bericht }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: $json.status || 'sent', contact: $json.contact || $('Webhook Trigger').item.json.params.contact }) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [600, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Send WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "flow" }]
}
