n8n/workflows/flow-artikel.json
{
  "id": "flow-artikel",
  "name": "Flow — Artikel schrijven (Anthropic)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flow-artikel",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "flow-artikel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-5-20250929', max_tokens: 4096, system: 'Je bent een Nederlandse artikelschrijver. Schrijf een goed leesbaar, informatief artikel over het gegeven onderwerp. Gebruik eenvoudig Nederlands (B1-B2 niveau). Begin met een pakkende titel, dan een lege regel, dan de volledige artikeltekst. Gebruik paragrafen en tussenkopjes waar nodig.', messages: [{ role: 'user', content: 'Onderwerp: ' + $json.params.onderwerp + '\\n\\nBrontekst: ' + $json.source_text }] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "anthropic-artikel",
      "name": "Anthropic Artikel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ article_text: $json.content?.[0]?.text || 'Geen tekst gegenereerd', status: 'success' }) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [600, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Anthropic Artikel", "type": "main", "index": 0 }]
      ]
    },
    "Anthropic Artikel": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "flow" }]
}
